<section>
  <div class="box box--rt">
    <div class="box__in">
      <div>
        Pára: {{humid}} %
        {{#if custom.humidtrend}}
          <i class="fa fa--pl fa-chevron-{{ custom.humidtrend }}"></i>
        {{/if}}
      </div>
      <div>
        <small>Hőérzet: {{humindex}} °C</small>
      </div>
    </div>
  </div>
  <div class="box box--r">
    <div class="box__in">
      <div class="temp-line text-nowrap">
        {{#if icon}}
          <img class="temp-line__icon" src="{{icon}}">
        {{/if}}
        <h1 class="temp-line__text">{{temp}} °C</h1>
      </div>
      {{#if custom.weather}}
        <div>
          <small>
            {{{custom.weather.[0]}}}
          </small>
        </div>
        <div>
          <small>
            {{{custom.weather.[1]}}}
          </small>
        </div>
      {{else}}
        <div>
          <small>
            Az időjárásjelentés adatait <br>
            a <a href="http://m.palmay.hu">palmay.hu</a> szolgáltatja.
          </small>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="box box--rb">
    <div class="box__in">
      <div>
        <i class="fa fa-lg fa-sun-o"></i>
        <span class="text-nowrap">
          <i class="fa fa-long-arrow-up"></i>
          {{{custom.sunrise}}}
        </span>
        <span class="text-nowrap">
          <i class="fa fa-long-arrow-down"></i>
          {{{custom.sunset}}}
        </span>
      </div>
    </div>
  </div>
  <div class="box box--lb">
    <div class="box__in">
      {{#if custom.battery}}
        <div>
          <span class="{{#if custom.battery.isLow}}text-color-alert{{/if}}">
            <i class="fa fa-lg fa--pr fa-battery-{{ custom.battery.quater }}"></i>
          </span>
          {{#if custom.battery.charging}}
            <span class="{{#if custom.battery.isFull}}text-color-success{{/if}}">
              <i class="fa fa--pr fa-plug"></i>
            </span>
          {{/if}}
          {{ custom.battery.percent }} %
        </div>
      {{/if}}
      <div>
        <small id="reload" class="reload">
          <i class="fa fa-lg fa--pr fa-spin fa-refresh"></i>
          {{time}}
        </small>
      </div>
    </div>
  </div>
  <div class="box box--l">
    <div class="box__in">
      <h1 class="time" id="time">{{custom.time}}</h1>
      <div>
        <span id="date">{{custom.date}}</span>
        <span id="day" class="text-capitalize">{{custom.day}}</span>
      </div>
    </div>
  </div>
  <div class="box box--lt">
    <div class="box__in">
      <div>
        <small>{{windtext}}</small>
      </div>
      <div class="text-nowrap">
        {{wind}} km/h
        <span class="wind wind--{{winddirtext}}">
          <i class="fa fa-lg fa--p fa-arrow-circle-up"></i>
        </span>
        {{winddirtext}}
      </div>
    </div>
  </div>
</section>
