* {
  box-sizing: border-box;
}

body, html {
  background: #000;
  height: 100%;
}

.body {
  color: #fff;
  font-family: 'Exo', sans-serif;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a, a:hover, a:visited, a:focus {
  color: #bada55;
}

.widget {
  position: relative;
  width: 100%;
  height: 100%;
}

.temp-line {
  position: relative;
  display: inline-block;
  margin-bottom: 0.33em;
}

.temp-line__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  height: 4rem;
}

.temp-line__text {
  margin-left: 0.3em;
}

.time {
  font-size: 2.6rem;
}

.windddir {
  height: 1em;
}

.fa--p {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.fa--pr {
  margin-right: 0.2em;
}

.fa--pl {
  margin-left: 0.2em;
}

.box--rt {
  top: 0;
  right: 0;
  text-align: right;
}

.box--rt .box__in {
  transform-origin: right top;
}

.box--r {
  top: 50%;
  right: 0;
  text-align: right;
  transform: translateY(-50%);
}

.box--r .box__in {
  transform-origin: right center;
}

.box--rb {
  bottom: 0;
  right: 0;
  text-align: right;
}

.box--rb .box__in {
  transform-origin: right bottom;
}

.box--lb {
  bottom: 0;
  left: 0;
}

.box--lb .box__in {
  transform-origin: left bottom;
}

.box--l {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.box--l .box__in {
  transform-origin: left center;
}

.box--lt {
  top: 0;
  left: 0;
}

.box--lt .box__in {
  transform-origin: left top;
}

.box {
  position: absolute;
  width: 50%;
}

.box .box__in {
  transform: scale(0.4);
}

@media (min-width: 180px) and (min-height: 120px) {
  .box .box__in {
    transform: scale(0.6);
  }
}

@media (min-width: 230px) and (min-height: 165px) {
  .box .box__in {
    transform: scale(0.8);
  }
}

@media (min-width: 280px) and (min-height: 180px) {
  .box .box__in {
    transform: scale(1);
  }
}

@media (min-width: 576px) and (min-height: 400px) {
  .box .box__in {
    transform: scale(1.8);
  }
}

@media (min-width: 768px) and (min-height: 450px) {
  .box .box__in {
    transform: scale(2);
  }
}

@media (min-width: 992px) and (min-height: 600px) {
  .box .box__in {
    transform: scale(3);
  }
}

.reload {
  cursor: pointer;
}

.text-nowrap {
  white-space: nowrap;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-color-alert {
  color: #f00;
}

.text-color-info {
  color: #55b1da;
}

.text-color-success {
  color: #bada55;
}

.wind {
  display: inline-block;
}

.wind--É {
  transform: rotate(0deg);
}

.wind--ÉÉK {
  transform: rotate(22.5deg);
}

.wind--ÉK {
  transform: rotate(45deg);
}

.wind--KÉK {
  transform: rotate(67.5deg);
}

.wind--K {
  transform: rotate(90deg);
}

.wind--KDK {
  transform: rotate(112.5deg);
}

.wind--DK {
  transform: rotate(135deg);
}

.wind--DDK {
  transform: rotate(157.5deg);
}

.wind--D {
  transform: rotate(180deg);
}

.wind--DDNY {
  transform: rotate(202.5deg);
}

.wind--DNY {
  transform: rotate(225deg);
}

.wind--NYDNY {
  transform: rotate(247.5deg);
}

.wind--NY {
  transform: rotate(270deg);
}

.wind--NYÉNY {
  transform: rotate(292.5deg);
}

.wind--ÉNY {
  transform: rotate(315deg);
}

.wind--ÉÉNY {
  transform: rotate(337.5deg);
}
